@if (fund != null) {
    <section (click)="onClick()" matRipple class="w-full no-select py-4 hover:bg-slate-100">
        <section class="mx-auto container px-4 lg:px-6">
            <div class="w-full flex items-start gap-2">
                @if (selectable) {
                    <input type="checkbox" [checked]="selected" class="checked:bg-slate-900 checked:text-white bg-slate-900 text-white" />
                }                
                <div class="p-4 text-md rounded-lg bg-slate-900 font-semibold text-white uppercase">{{fund.title.substring(0,2)}}</div>
                <div class="flex-1 overflow-hidden space-y-1">
                    <!-- Name and date -->
                    <div class="w-full flex items-center justify-between gap-2">
                        <div class="truncate">
                            <div class="text-wrap text-md font-semibold text-black/80 line-clamp-1 tracking-wider">
                                {{ fund.title }}
                            </div>
                        </div>
                        <span class="text-xs text-slate-800"> {{ isToday(fund.lastUpdated) ? (fund.lastUpdated | date: 'shortTime') : (fund.lastUpdated | date: 'dd/MM/yy') }}</span>
                    </div>
                    <!-- description and notification -->
                    <div class="w-full flex items-center justify-between gap-2">
                        <div class="truncate">
                            <p class="text-wrap text-sm text-slate-700 line-clamp-1">{{fund.latestMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
}