<footer class="w-full fixed bottom-0 border-t border-slate-300/50">
    <div class="mx-auto container px-4 lg:px-6 text-slate-400">
        <div class="h-16 flex items-center justify-between">
            <button routerLink="/funds" [routerLinkActive]="['text-slate-900']" class="flex flex-col items-center  text-sm font-medium text-center  hover:text-slate-900 ">
                <span class="material-symbols-rounded" [routerLinkActive]="['symbols-filled']">wallet</span>
                My Funds
            </button>
            <button class="flex flex-col items-center  text-sm font-medium text-center  hover:text-slate-900 ">
                <span class="material-symbols-rounded">function</span>
                Calculators
            </button>
            <button routerLink="/history" [routerLinkActive]="['text-slate-900']" class="flex flex-col items-center  text-sm font-medium text-center  hover:text-slate-900">
                <span class="material-symbols-rounded"  [routerLinkActive]="['symbols-filled']">contract</span>
                History
            </button>
            <button routerLink="/profile" [routerLinkActive]="['text-slate-900']" class="flex flex-col items-center  text-sm font-medium text-center  hover:text-slate-900 ">
                <span class="material-symbols-rounded">person</span>
                My Profile
            </button>
        </div>
    </div>    
</footer>